<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.blulabellabs.code"
    android:installLocation="auto"
    android:versionCode="1"
    android:versionName="1.0.0" >

    <uses-sdk
        android:maxSdkVersion="19"
        android:minSdkVersion="8"
        android:targetSdkVersion="14" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- Required to register a SyncStatusObserver to display a "syncing..." progress indicator. -->
    <uses-permission android:name="android.permission.READ_SYNC_STATS" />
    <!-- Required to enable our SyncAdapter after it's created. -->
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <!-- Required because we're manually creating a new account. -->
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />

    <!--
        <permission android:name="com.blulabellabs.code.C2D_MESSAGE"
        android:protectionLevel="signature" />
    -->

    <permission
        android:name="com.blulabellabs.code.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.blulabellabs.code.permission.C2D_MESSAGE" />

    <application
        android:name="com.blulabellabs.code.Application"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppBaseTheme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!-- Splash screen -->
        <activity
            android:name=".ui.SplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme.NoTitle" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Qr Code Capture activity -->
        <activity
            android:name=".ui.qr.QrCodeCaptureActivity"
            android:label="Scan QR Code"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme.NoTitle" >
        </activity>

        <!-- Qr Code Show / Share -->
        <activity
            android:name=".ui.qr.QrCodeShowActivity"
            android:label="Share Qr Code"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme.NoTitle" >
        </activity>

        <!-- Main activity -->
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Actionbar"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustPan" >
        </activity>

        <!-- Login activity -->
        <activity
            android:name=".ui.LoginActivity"
            android:label="@string/activity_login_title"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" />

        <!-- Registration activity -->
        <activity
            android:name=".ui.RegistrationActivity"
            android:label="@string/activity_registration_title"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" />

        <!-- Login activity -->
        <activity
            android:name=".ui.contacts.ContactDetailsActivity"
            android:label="@string/activity_login_title"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme.NoTitle" />
        <activity
            android:name=".ui.MoreOptionActivity"
            android:label="@string/activity_login_title"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme.NoTitle" />

        <!-- Tutorial activity -->
        <activity
            android:name=".ui.tutorial.TutorialActivity"
            android:label="@string/activity_tutorial_title"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme.NoTitle" />

        <!-- Settings activity -->
        <activity
            android:name=".ui.preferences.SettingsActivity"
            android:icon="@drawable/ic_action_camera"
            android:label="@string/activity_settings_title"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Actionbar" />
        <activity
            android:name=".ui.ImageDetailActivity"
            android:label="@string/app_name"
            android:parentActivityName=".ui.MainActivity"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.MainActivity" />
        </activity>
        <activity
            android:name=".ui.GroupMemberListActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:parentActivityName=".ui.MainActivity"
            android:theme="@style/Theme.Actionbar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.MainActivity" />
        </activity>
        
        <activity
            android:name=".ui.FlaggedMessageListActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:parentActivityName=".ui.MainActivity"
            android:theme="@style/Theme.Actionbar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.MainActivity" />
        </activity>

        <!-- GCM resever -->
        <receiver
            android:name=".core.io.gcm.GcmBroadcastReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.blulabellabs.code" />
            </intent-filter>
        </receiver>

        <!-- <service android:name=".model.service.ServiceImp"/> -->


        <!--
        This service implements our SyncAdapter. It needs to be exported, so that the system
        sync framework can access it.
        -->
        <service
            android:name=".core.sync.SyncService"
            android:exported="true" >

            <!--
            This intent filter is required. It allows the system to launch our sync service
            as needed.
            -->
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>
            <!-- This points to a required XML file which describes our SyncAdapter. -->
            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter" />
        </service>
        <service
            android:name=".core.sync.UploadImageService"
            android:exported="true" >
        </service>

        <!--
       This implements the account we'll use as an attachment point for our SyncAdapter. Since
       our SyncAdapter doesn't need to authenticate the current user (it just fetches a public RSS
       feed), this account's implementation is largely empty.

       It's also possible to attach a SyncAdapter to an existing account provided by another
       package. In that case, this element could be omitted here.
        -->
        <service android:name=".core.accounts.GenericAccountService" >

            <!-- Required filter used by the system to launch our account service. -->
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>
            <!-- This points to an XMLf ile which describes our account service. -->
            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>

        <provider
            android:name=".core.provider.QodemeProvider"
            android:authorities="@string/app_package"
            android:exported="false" />
    </application>

</manifest>